.navbar .nav-link {
    color: white;
}

.navbar .nav-item.dropdown .dropdown-menu {
    background-color: #333;
}

.navbar .nav-item.dropdown .dropdown-menu a {
    color: white;
}

.navbar .nav-item.dropdown .dropdown-menu a:hover {
    background-color: #444;
}